.cover {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100vw;
	height: 100vh;
}

.content {
	position: absolute;
	top: 10%;
	left: 10%;
}

.title {
	width: 393px;
	height: 144px;
	font-size: 96px;
	font-weight: 300;
	line-height: 144px;
	margin-bottom: 0;

	background: linear-gradient(220.09deg, #FF5FE5 -26.57%, #0037FA 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.description {
	width: 596px;
	height: 144px;
	font-size: 48px;
	font-weight: 275;
	line-height: 72px;
	margin: 0;

	color: #FAFCFC;
}

.icons {
	margin-top: 30%;
}

.icon {
	margin-right: 24px;
	color: #FAFCFC;
	
	cursor: pointer;
	transition: transform 0.5s ease-in-out;
}

.icon:hover {
	transform: scale(1.2, 1.2);
}

@media only screen and (max-width: 800px) {
	.cover {
		width: 100vh;
		height: 100vh;

		position: absolute;
		right: -190px;
	}

	.icons {
		margin-left: 15%;
		margin-top: 25% !important;
	}

	.title {
		font-size: 70px;
		margin: 0;
	}

	.description {
		font-size: 24px;
		width: 80%;
		line-height: 36px;
	}
}
